<main class="relative">
  <app-nav></app-nav>
  <section class="xl:padding-l wide:padding-r pading-b">
    <app-hero></app-hero>
  </section>
  <section class="padding">
    <app-popular-product></app-popular-product>
  </section>
  <section class="padding">
    <app-super-quality></app-super-quality>
  </section>
  <section class="padding-x py-10">
    <app-services></app-services>
  </section>
  <section class="padding">
    <app-special-offer></app-special-offer>
  </section>
  <section class="padding bg-blue-50">
    <app-customer-reviews></app-customer-reviews>
  </section>
  <section class="padding-x padding-y">
    <app-suscribe></app-suscribe>
  </section>
  <section class="bg-black padding-x padding-t pb-8">
    <app-footer></app-footer>
  </section>
</main>