<main class="relative">
  <app-nav></app-nav>
  <section class="xl:padding-1 wide:sm:pr-16 pr-8 sm:pb-24 pb-12">
    <app-hero></app-hero>
  </section>
  <section class="sm:px-16 px-8 sm:py-24 py-12">
    <app-popular-product></app-popular-product>
  </section>
  <section class="sm:px-16 px-8 sm:py-24 py-12">
    <app-super-quality></app-super-quality>
  </section>
  <section class="sm:px-16 px-8  py-10">
    <app-services></app-services>
  </section>
  <section class="sm:px-16 px-8 sm:py-24 py-12">
    <app-special-offer></app-special-offer>
  </section>
  <section class="sm:px-16 px-8 sm:py-32 py-16 w-full bg-blue-50">
    <app-customer-reviews></app-customer-reviews>
  </section>
  <section class="sm:px-16 px-8 sm:py-24 py-12">
    <app-suscribe></app-suscribe>
  </section>
  <section class="bg-black sm:px-16 px-8 sm:pt-24 pt-12">
    <app-footer></app-footer>
  </section>
</main>